body {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}
.container {
  display: block;
  border: solid #ec6e4c;
  align-items: center;
  font-weight: 200px;
  padding: 10px;
}
form input {
  padding: 2px;
  max-width: 100%;
  background-color: white;
  border: solid #ec6e4c;
  border-radius: 3px;
}
ul {
  list-style: none;
  display: block;
}

.row {
  padding: 5px;
}

img {
  width: 42px;
}
.weathertemp {
  font-size: 13px;
}
.weatherelements {
  font-size: 13px;
}

.currentimg {
  width: 100px;
}
li {
  list-style: none;
}

a {
  color: black;
}
